*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Amatic SC", sans-serif;
  /* cursor: url(images/cursor.png),auto; */
}
.top-bar{
  height:max-content;

  background-color: rgba(0, 0, 0, 0.418);
  opacity: 0.70;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
}
/* .bar-icon{
  margin-left: 20px;
  background-image: url(images/images.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 65px;
  width: 65px;
  border: 50%;
  animation: rotate 5s linear infinite;
 
} */
.bar-icon {
  position: relative;
  left: 10px;
    top: 33px;
  margin-left: 20px; 
  /* background-image: url(images/images.png);
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: contain;  */
  height: 65px; 
  width: 65px; 
  border-radius: 50%;
  
  transform: translate(-50%, -50%); 
  transition: transform 3s ease-out; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bar-item {
  height: 100%; /* This should be set to a specific value or depend on the parent */
  display: flex;
  align-items: center;
  justify-content: right;
}
.bar-item a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  display: flex;  
  align-items: center;  
  height: 100%;  
  padding: 0 20px;  
  transition: background-color 0.3s ease;
  transition: font-weight 0.3s ease;
  transition: color 0.3s ease;
}
/* Change the background color of the button */
.navbar-toggler {
  background-color: #ccc; /* Example: Tomato color */
  /* border-color: #000000; Change the border color */
}

/* Change the color of the icon inside the button */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width : 992px){
  .bar-item{
    justify-content: center;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .navbar-nav li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navbar-nav li a {
    font-weight: bold;
    color: white;
  }

  .navbar-nav li:hover{
    width: 100%;
    background-color: #ccc;
  }
  
}
@media(min-width : 993px ){
  .bar-item a{
    padding: 0px 30px !important;
  }
  .bar-item a:hover{
    font-weight: bold;
    color: black;
    height: 64px;
    background-color: #ccc;
  }
}

.home-container{
  background-image: url(images/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  filter: grayscale(50%);
}
.leftButtom{
  background-color: black;
  color: white;
  position: absolute;
  font-size: 24px;
  padding: 6px;
  bottom: 12px;
  left: 12px;
}
.mid-sectiton{
  /* border: 1px solid red; */
  position: absolute;
  text-align: center;
  width: 303px;
/* this is used for center the div  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mid-sectiton span{
  color: white;
  font-size: 100px;
  font-weight: 600;
}
.menu-button{
  background-color: black;
  height: 50px;
  /* display: block; */
  min-width: 100px;
  max-width: 300px;
  text-align: center;
  margin: 20px 0;
}
.menu-button a {
  color: white;
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
}
.menu-container{
  width: 100%;
;
}
.menu-heading h1{
  font-size: 50px;
}

.menu-tab{
  border: 1px solid #616161;
  min-width: 200px;
  max-width: 980px;
}
.tabs{
  display: flex;
  justify-content: space-around;
}
.mytab{
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
  border: none;
  font-size: 30px;
  transition: background-color 0.3s ease;
}
.mytab.myActive {
  background-color: rgb(240, 27, 27);
}
.mytab:hover{
  font-weight: bold;
  background-color: rgb(172, 17, 17);
}
.tabData{
  display: none;
}
.tabData.myActive {
  display: block;
}
.tabData p{
  color: #616161;
}
.price-tag{
  background-color: grey;
  border-radius: 5px;
  padding: 3px 6px;
  color: white;
  margin-right: 10px;
}
.myHr{
  background-color: #616161;
  height: 2px;
}

.about-container{
  background-color: #8b5f5b;
  width: 100%;
}
.about-container .main-container{
  min-width: 200px;
  max-width: 980px;
}

.photo img{
float: right;
  height: 100px;
  width: 150px;
  clip-path: ellipse(50% 40% at 50% 50%);
}

.store-map{
  filter: grayscale(75% );
}
.contact-container{
  background-color: #607d8b!important;
  width: 100%;
}
.contact-container .main-container{
  min-width: 200px;
  max-width: 980px;
}
.input-area{
  width: 100%;
  height: 50px;
  font-size: 26px;
  font-weight: 600;
  padding-left: 20px;
  margin: 10px 0px;
  border: none;
  outline: none;
}